{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
   


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Login</a>
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Login</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Login Information</span></h5>
                 {% if msg %}
                <b style="color:blue">{{msg}}</b>
                    {% endif %}
                <div class="bg-light p-30 mb-5">
                    <span id="email_error"></span>
                    <form name="login" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                    <div class="ro">
                        
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" name="email" placeholder="Email"id="email">
                        </div>
                         <div class="col-md-6 form-group">
                
                            <input class="form-control" type="password" name="password" placeholder="password">
                        </div>
                       
                       
                        <button type="submit" class="btn btn-block btn-primary font-weight-bold py-3">Login</button>
                        <br>
                       <a href="{% url 'forgot_password' %}"><button type="button" class="btn btn-block btn-primary font-weight-bold py-3">Forgot Password</button></a>
                       
                        
                        
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div> 
<script>
          $("#email").change(function(){
            var email=$(this).val();
            $.ajax({
              url: '/ajax/validate_email/',
              data: {
                'email': email
              },
              dataType: 'json',
              success: function (data) {
                if (!data.is_taken) {
                  document.getElementById("email").style.border="5px solid red";
                  document.getElementById("email_error").innerHTML="This Email Id Not Registered";
                }else{
                  document.getElementById("email").style.border="5px solid green";
                  document.getElementById("email_error").innerHTML="";
                }
              }
            });
          });

        </script>


            

            

</body>

</html>
{% endblock %}